* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.select {
  width: 42%;
  height: 44px;
  background-color: #E03145;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0 40px 0;
}

.select_text {
  font-size: 16px;
  color: #FFFFFF;
}

.container {
  background-color: #FFEDF5;
  background-image: url("./img/Group 2994.svg");
}

.container .c_middle .cm_top {
  text-align: center;
  margin: 0 auto;
}

.container .c_middle .cm_top .cmt_img {
  width: 117px;
  height: 80px;
}

.container .c_middle .cm_top .cmt_textio {
  color: #E4023F;
  margin: 20px 0 10px 0;
}

.container .c_middle .cm_top .cmt_textEarn {
  font-size: 16px;
  color: #393939;
}

.container .c_middle .cm_top .cmt_textUse {
  font-size: 16px;
  color: #3A3A3A;
}

.container .c_middle .cm_top .cmt_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px auto 0 auto;
}

.container .c_middle .cm_top .cmt_link .cmtl_input {
  width: 100%;
}

.container .c_middle .cm_top .cmt_link .cmtl_copy {
  width: 45px;
  height: 45px;
  background-color: #E34557;
  margin-left: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .c_middle .select_all {
  width: 60%;
  height: 44px;
  background-color: #E03145;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 26%;
  margin-top: 123%;
}

.container .c_middle .cm_contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .c_middle .cm_contain .cmc_left {
  width: 16%;
}

.container .c_middle .cm_contain .cmc_right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 auto;
}

.container .c_middle .cm_contain .cmc_right .cmcr_boder {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
  border-radius: 5px;
  text-align: center;
}

.container .c_middle .cm_contain .cmc_right .cmcr_boder .circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #E34557;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: -50px;
}

.container .c_middle .cm_contain .cmc_right .cmcr_boder .text {
  font-size: 18px;
  font-weight: bold;
  color: #3C2B34;
}

.container .c_middle .cm_contain .cmc_right .cmcr_boder .apy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FFF0F2;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 30px 0 12px 0;
  border: 1px solid #FFC6CD;
}

.container .c_middle .cm_contain .cmc_right .cmcr_boder .apy .a_text {
  color: #3C2B34;
  font-size: 16px;
}

.container .c_middle .cm_contain .cmc_right .cmcr_boder .apy .a_number {
  color: #E03145;
  font-size: 18px;
}

.container .c_middle .cm_contain .cmc_right .cmcr_boder .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FFF0F2;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #FFC6CD;
}

.container .c_middle .cm_contain .cmc_right .cmcr_boder .time .t_text {
  color: #3C2B34;
  font-size: 16px;
}

.container .c_middle .cm_contain .cmc_right .cmcr_boder .time .t_number {
  color: #3C2B34;
  font-size: 16px;
}

.container .c_footer {
  background-color: #393939;
  margin-top: 107px;
  width: 100%;
}

.container .c_footer .cf_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 68.5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 30px 0;
}

.container .c_footer .cf_wrap .text {
  color: #FFFFFF;
  font-size: 16px;
}

.container .c_footer .cf_wrap .cfw_between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .c_footer .cf_wrap .cfw_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .select:hover, .container .select_all:hover {
  background-color: #f8d1e2;
}

@media only screen and (min-width: 1200px) {
  .c_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 16%;
    padding: 1.5% 0;
  }
  .c_header .ch_logo .chl_img {
    width: 73px;
    height: 50px;
  }
  .c_header .ch_toolbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .c_header .ch_toolbar .cht_img {
    width: 13px;
    height: 10px;
    margin-right: 4px;
  }
  .c_header .ch_toolbar .cht_home {
    margin-right: 41px;
    font-size: 16px;
    font-weight: bold;
    color: #393939;
  }
  .c_header .ch_toolbar .cht_faq {
    margin-right: 43px;
    font-size: 16px;
    font-weight: bold;
    color: #393939;
  }
  .c_header .ch_toolbar .cht_trx {
    margin-right: 41px;
    font-size: 16px;
    font-weight: bold;
    color: #393939;
  }
  .c_header .ch_toolbar .cht_nation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .c_header .ch_toolbar .cht_nation .chtn_circle {
    height: 35px;
    width: 35px;
    position: relative;
  }
  .c_header .ch_toolbar .cht_nation .chtn_circle:before {
    content: '';
    position: absolute;
    width: 70%;
    height: calc(0.7 * 35px);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 50%;
    background-image: url(./img/lang/en.png);
    background-size: 160%;
    background-position: center;
  }
  .c_header .ch_toolbar .cht_nation .ensign {
    border-radius: 50%;
    width: 25px;
    height: 25px;
  }
  .c_header .ch_toolbar .cht_nation .arrow {
    width: 11px;
    height: 7px;
  }
  .cm_top {
    width: 40%;
  }
  .cm_top .cmt_textio {
    font-size: 40px;
  }
  .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .top .cmcr_staking {
    margin-right: 0;
  }
  .bott {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .cmt_boder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 40px auto;
    background-color: white;
  }
  .cmt_boder .cmtb_img {
    width: 63px;
    height: 45px;
  }
  .cmt_boder .cmtb_single {
    text-align: left;
    padding: 0 30px;
    border-right: 1px solid #CB0D40;
    margin: 18px 0;
  }
  .cmt_boder .cmtb_single .cmtbs_text {
    font-size: 16px;
    color: #393939;
  }
  .cmt_boder .cmtb_single .cmtbs_number {
    font-size: 30px;
    color: #E4023F;
  }
  .cmt_boder .cmtb_total {
    text-align: left;
    padding-left: 30px;
  }
  .cmt_boder .cmtb_total .cmtbt_text {
    font-size: 16px;
    color: #393939;
  }
  .cmt_boder .cmtb_total .cmtbt_number {
    font-size: 30px;
    color: #E4023F;
  }
  .cmcr_boder {
    width: 30%;
  }
  .cmcr_boder {
    margin-right: 30px;
  }
  .text_smart {
    margin: 0 48px;
  }
  .twitter {
    margin: 0 45px;
  }
  .c_menu {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199.5px) {
  .c_menu {
    display: none;
  }
  .c_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 16%;
    padding: 1.5% 0;
  }
  .c_header .ch_logo .chl_img {
    width: 73px;
    height: 50px;
  }
  .c_header .ch_toolbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .c_header .ch_toolbar .cht_img {
    width: 13px;
    height: 10px;
    margin-right: 4px;
  }
  .c_header .ch_toolbar .cht_home {
    margin-right: 41px;
    font-size: 16px;
    font-weight: bold;
    color: #393939;
  }
  .c_header .ch_toolbar .cht_faq {
    margin-right: 43px;
    font-size: 16px;
    font-weight: bold;
    color: #393939;
  }
  .c_header .ch_toolbar .cht_trx {
    margin-right: 41px;
    font-size: 16px;
    font-weight: bold;
    color: #393939;
  }
  .c_header .ch_toolbar .cht_nation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .c_header .ch_toolbar .cht_nation .chtn_circle {
    height: 35px;
    width: 35px;
    position: relative;
  }
  .c_header .ch_toolbar .cht_nation .chtn_circle:before {
    content: '';
    position: absolute;
    width: 70%;
    height: calc(0.7 * 35px);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 50%;
    background-image: url(./img/lang/en.png);
    background-size: 160%;
    background-position: center;
  }
  .c_header .ch_toolbar .cht_nation .ensign {
    border-radius: 50%;
    width: 25px;
    height: 25px;
  }
  .c_header .ch_toolbar .cht_nation .arrow {
    width: 11px;
    height: 7px;
  }
  .cmt_textio {
    font-size: 40px;
  }
  .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .top .cmcr_staking {
    margin-right: 0;
  }
  .bott {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .bott .cmcr_tulip {
    margin-right: 30px;
  }
  .cmt_boder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 40px auto;
    background-color: white;
  }
  .cmt_boder .cmtb_img {
    width: 63px;
    height: 45px;
  }
  .cmt_boder .cmtb_single {
    text-align: left;
    padding: 0 30px;
    border-right: 1px solid #CB0D40;
    margin: 18px 0;
  }
  .cmt_boder .cmtb_single .cmtbs_text {
    font-size: 16px;
    color: #393939;
  }
  .cmt_boder .cmtb_single .cmtbs_number {
    font-size: 30px;
    color: #E4023F;
  }
  .cmt_boder .cmtb_total {
    text-align: left;
    padding-left: 30px;
  }
  .cmt_boder .cmtb_total .cmtbt_text {
    font-size: 16px;
    color: #393939;
  }
  .cmt_boder .cmtb_total .cmtbt_number {
    font-size: 30px;
    color: #E4023F;
  }
  .cm_top {
    width: 68%;
  }
  .cmcr_boder {
    width: 30%;
  }
  .cmcr_boder {
    margin-right: 30px;
  }
  .text_smart {
    margin: 0 48px;
  }
  .twitter {
    margin: 0 45px;
  }
  .cfw_between {
    margin: 0 15px;
  }
}

@media only screen and (max-width: 767.5px) {
  .c_header {
    display: none;
  }
  .c_menu .img_menu {
    margin: 20px 0 0 20px;
  }
  .cmc_left {
    display: none;
  }
  .cmt_boder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 40px auto;
    background-color: white;
  }
  .cmt_boder .cmtb_img {
    width: 63px;
    height: 45px;
  }
  .cmt_boder .cmtb_single {
    text-align: left;
    padding: 0 30px;
    margin: 18px 0;
  }
  .cmt_boder .cmtb_single .cmtbs_text {
    font-size: 16px;
    color: #393939;
  }
  .cmt_boder .cmtb_single .cmtbs_number {
    font-size: 20px;
    color: #E4023F;
  }
  .cmt_boder .cmtb_total {
    text-align: left;
  }
  .cmt_boder .cmtb_total .cmtbt_text {
    font-size: 16px;
    color: #393939;
  }
  .cmt_boder .cmtb_total .cmtbt_number {
    font-size: 20px;
    color: #E4023F;
  }
  .top {
    margin: 0 18px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bott {
    margin: 0 18px;
  }
  .cmcr_boder {
    margin-right: 0;
  }
  .text_smart {
    margin: 0 10px;
  }
  .twitter {
    margin: 0 10px;
  }
  .cm_top {
    width: 94%;
  }
  .cm_top .cmt_textio {
    font-size: 20px;
  }
  .cf_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cf_wrap .cfw_between {
    margin: 3px 0;
  }
}
/*# sourceMappingURL=Style.css.map */