* {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #3C2B34;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  background-color: #FFEDF5;
  background-image: url("../img/Group 2994.svg");
  width: 100%;
  height: 100%;
  position: relative;
}

.container .c_middle {
  margin: 0 auto;
  height: 38%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFFFFF;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
  margin-bottom: 185px;
}

.container .c_middle .cm_tittle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
  margin-bottom: 2.5rem;
}

.container .c_middle .cm_tittle .cmt_text {
  margin-left: 1rem;
}

.container .c_middle .cm_tittle .cmt_text .text_big {
  color: #E03145;
  margin-bottom: 0.3rem;
}

.container .c_middle .cm_tittle .cmt_text .text_small {
  color: #393939;
}

.container .c_middle .cm_information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 79%;
  height: 17%;
  background-color: #FFF0F2;
  border: 1px solid #FFC6CD;
  margin-bottom: 2rem;
  border-radius: 5px;
}

.container .c_middle .cm_information .cmi_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
}

.container .c_middle .cm_information .cmi_text .text_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .c_middle .cm_information .cmi_text .text_left .text {
  margin-right: 2.5rem;
}

.container .c_middle .cm_information .cmi_text .text_left .number {
  color: #E03145;
}

.container .c_middle .cm_information .cmi_text .text_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .c_middle .cm_information .cmi_text .text_right .text {
  margin-right: 2.5rem;
}

.container .c_middle .cm_information .cmi_text .text_right .number {
  font-weight: bold;
}

.container .c_middle .cm_information .cmi_recipe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.container .c_middle .cm_information .cmi_recipe .text_price {
  margin-right: 2.5rem;
}

.container .c_middle .cm_information .cmi_recipe .recipe {
  font-weight: bold;
}

.container .c_middle .cm_information .cmi_recipe .recipe .r_img {
  width: 10px;
  height: 10px;
}

.container .c_middle .cm_row {
  width: 79%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .c_middle .cm_row .cmr_boder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FFF0F2;
  border: 1px solid #FFC6CD;
  border-radius: 5px;
}

.container .c_middle .cm_row .cmr_boder .text {
  margin-top: 1.6rem;
  margin-bottom: 0.4rem;
}

.container .c_middle .cm_row .cmr_boder .number {
  color: #E03145;
  font-size: 1.8rem;
  font-weight: bold;
}

.container .c_middle .cm_row .cmr_boder .boder_harvest {
  background-color: #E34557;
  margin-top: 1.1rem;
  margin-bottom: 1.5rem;
  width: 9.8rem;
  height: 2.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

.container .c_middle .cm_row .cmr_boder .boder_harvest .harvest {
  color: #FFFFFF;
}

.container .c_middle .cm_row .cmr_boder .boder_harvest:hover {
  background-color: #f8d1e2;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.container .c_middle .cm_unstake {
  width: 12.8rem;
  height: 2.8rem;
  background-color: #E34557;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  margin-top: 25px;
  margin-bottom: 64px;
}

.container .c_middle .cm_unstake .cmu_text {
  color: #FFFFFF;
}

.container .c_middle .cm_unstake:hover {
  background-color: #f8d1e2;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.container .c_footer {
  background-color: #393939;
  margin-top: 107px;
  width: 100%;
}

.container .c_footer .cf_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 68.5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 30px 0;
}

.container .c_footer .cf_wrap .text {
  color: #FFFFFF;
  font-size: 16px;
}

.container .c_footer .cf_wrap .cfw_between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .c_footer .cf_wrap .cfw_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .c_deposit {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0d0403b6;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.container .c_deposit .cd_border {
  background-color: #FFFFFF;
  border-top: 1rem solid #4EAD60;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.container .c_deposit .cd_border .cdb_header {
  position: absolute;
  top: -75px;
}

.container .c_deposit .cd_border .cdb_header .cdbh_circle {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .c_deposit .cd_border .cdb_header .cdbh_circle .cdbhc_img {
  width: 7rem;
  height: 5rem;
  margin-top: 1.5rem;
}

.container .c_deposit .cd_border .cdb_close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.container .c_deposit .cd_border .cdb_content {
  z-index: 1;
  margin-top: 5rem;
  width: 50%;
}

.container .c_deposit .cd_border .cdb_content .text_deposit {
  text-align: center;
  font-weight: bold;
  color: #3A3A3A;
}

.container .c_deposit .cd_border .cdb_content .text_input {
  margin-top: 40px;
}

.container .c_deposit .cd_border .cdb_content .cdbc_input {
  width: 100%;
  border: 1px solid #3C2B34;
  border-radius: 5px;
  margin: 0.8rem 0;
}

.container .c_deposit .cd_border .cdb_content .cdbc_input input {
  width: 90%;
  height: 2rem;
  border: none;
  margin-left: 5px;
  outline: none;
}

.container .c_deposit .cd_border .cdb_content .text_hello {
  margin-bottom: 3.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container .c_deposit .cd_border .cdb_content .text_hello .text {
  font-weight: bold;
  color: #3A3A3A;
}

.container .c_deposit .cd_border .cdb_content .text_hello .number {
  color: #E03145;
  font-weight: bold;
}

.container .c_deposit .cd_border .cdb_content .cdbc_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5.1rem;
}

.container .c_deposit .cd_border .cdb_content .cdbc_button .button_cancel {
  background-color: #E0DBD2;
  width: 46%;
  height: 2.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

.container .c_deposit .cd_border .cdb_content .cdbc_button .button_confirm {
  background-color: #E34557;
  width: 46%;
  height: 2.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

.container .c_deposit .cd_border .cdb_content .cdbc_button .button_cancel:hover, .container .c_deposit .cd_border .cdb_content .cdbc_button .button_confirm:hover {
  opacity: 0.8;
}

.container .c_warning {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0d0403b6;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.container .c_warning .cw_border {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.container .c_warning .cw_border .img_stripe {
  height: 0.6rem;
  width: 100%;
}

.container .c_warning .cw_border .cwb_header {
  position: absolute;
  top: -75px;
}

.container .c_warning .cw_border .cwb_header .cwbh_circle {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .c_warning .cw_border .cwb_header .cwbh_circle .cwbhc_img {
  width: 7rem;
  height: 5rem;
  margin-top: 1.5rem;
}

.container .c_warning .cw_border .cwb_close {
  position: absolute;
  top: 2rem;
  right: 1rem;
}

.container .c_warning .cw_border .cwb_content {
  z-index: 1;
  margin-top: 5rem;
  width: 54%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.container .c_warning .cw_border .cwb_content .text_warning {
  font-weight: bold;
  margin-bottom: 2.5rem;
}

.container .c_warning .cw_border .cwb_content .text_you {
  width: 96%;
}

.container .c_warning .cw_border .cwb_content .text_please {
  margin-top: 0.8rem;
  margin-bottom: 3.2rem;
}

.container .c_warning .cw_border .cwb_content .text_please a {
  color: #E03145;
}

.container .c_warning .cw_border .cwb_content .cwbc_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5.4rem;
}

.container .c_warning .cw_border .cwb_content .cwbc_button .button_close {
  background-color: #E34557;
  width: 60%;
  height: 2.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

.container .c_warning .cw_border .cwb_content .cwbc_button .button_close:hover {
  opacity: 0.8;
}

@media only screen and (min-width: 1200px) {
  .c_menu {
    display: none;
  }
  .c_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 16%;
    padding: 1.5% 0;
  }
  .c_header .ch_logo .chl_img {
    width: 73px;
    height: 50px;
  }
  .c_header .ch_toolbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .c_header .ch_toolbar .cht_img {
    width: 13px;
    height: 10px;
    margin-right: 4px;
  }
  .c_header .ch_toolbar .cht_home {
    margin-right: 41px;
    font-size: 16px;
    font-weight: bold;
    color: #393939;
  }
  .c_header .ch_toolbar .cht_faq {
    margin-right: 43px;
    font-size: 16px;
    font-weight: bold;
    color: #393939;
  }
  .c_header .ch_toolbar .cht_trx {
    margin-right: 41px;
    font-size: 16px;
    font-weight: bold;
    color: #393939;
  }
  .c_header .ch_toolbar .cht_nation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .c_header .ch_toolbar .cht_nation .chtn_circle {
    height: 35px;
    width: 35px;
    position: relative;
  }
  .c_header .ch_toolbar .cht_nation .chtn_circle:before {
    content: '';
    position: absolute;
    width: 70%;
    height: calc(0.7 * 35px);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 50%;
    background-image: url(../img/lang/en.png);
    background-size: 160%;
    background-position: center;
  }
  .c_header .ch_toolbar .cht_nation .ensign {
    border-radius: 50%;
    width: 25px;
    height: 25px;
  }
  .c_header .ch_toolbar .cht_nation .arrow {
    width: 11px;
    height: 7px;
  }
  .c_middle {
    width: 56%;
  }
  .c_middle .cmr_boder {
    width: 32%;
  }
  .c_middle .cm_tittle .text_big {
    font-size: 2rem;
  }
  .c_footer .text_smart {
    margin: 0 48px;
  }
  .c_footer .twitter {
    margin: 0 45px;
  }
  .c_deposit .cd_border {
    width: 37%;
  }
  .c_warning .cw_border {
    width: 37%;
  }
  .c_warning .cw_border .text_warning {
    font-size: 1.9rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199.5px) {
  .c_menu {
    display: none;
  }
  .c_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 16%;
    padding: 1.5% 0;
  }
  .c_header .ch_logo .chl_img {
    width: 73px;
    height: 50px;
  }
  .c_header .ch_toolbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .c_header .ch_toolbar .cht_img {
    width: 13px;
    height: 10px;
    margin-right: 4px;
  }
  .c_header .ch_toolbar .cht_home {
    margin-right: 41px;
    font-size: 16px;
    font-weight: bold;
    color: #393939;
  }
  .c_header .ch_toolbar .cht_faq {
    margin-right: 43px;
    font-size: 16px;
    font-weight: bold;
    color: #393939;
  }
  .c_header .ch_toolbar .cht_trx {
    margin-right: 41px;
    font-size: 16px;
    font-weight: bold;
    color: #393939;
  }
  .c_header .ch_toolbar .cht_nation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .c_header .ch_toolbar .cht_nation .chtn_circle {
    height: 35px;
    width: 35px;
    position: relative;
  }
  .c_header .ch_toolbar .cht_nation .chtn_circle:before {
    content: '';
    position: absolute;
    width: 70%;
    height: calc(0.7 * 35px);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 50%;
    background-image: url(../img/lang/en.png);
    background-size: 160%;
    background-position: center;
  }
  .c_header .ch_toolbar .cht_nation .ensign {
    border-radius: 50%;
    width: 25px;
    height: 25px;
  }
  .c_header .ch_toolbar .cht_nation .arrow {
    width: 11px;
    height: 7px;
  }
  .c_middle {
    width: 82%;
  }
  .c_middle .cmr_boder {
    width: 32%;
  }
  .c_middle .cmr_boder .text_deposit {
    font-size: 1.9rem;
  }
  .c_middle .cm_tittle .text_big {
    font-size: 2rem;
  }
  .c_footer .cfw_between {
    margin: 0 15px;
  }
  .c_footer .cfw_between .text_smart {
    margin: 0 48px;
  }
  .c_footer .twitter {
    margin: 0 45px;
  }
  .c_deposit .cd_border {
    width: 60%;
  }
  .c_deposit .cd_border .text_deposit {
    font-size: 1.9rem;
  }
  .c_warning .cw_border {
    width: 60%;
  }
  .c_warning .cw_border .text_warning {
    font-size: 1.9rem;
  }
}

@media only screen and (max-width: 767.5px) {
  .c_header {
    display: none;
  }
  .c_menu .img_menu {
    margin: 20px 0 0 20px;
  }
  .c_middle {
    width: 90%;
  }
  .c_middle .cm_tittle .text_big {
    font-size: 1.3rem;
  }
  .c_middle .cm_information .cmi_text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .c_middle .cm_information .cmi_recipe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .c_middle .cm_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .c_middle .cm_row .cmr_boder {
    width: 90%;
    margin-bottom: 2rem;
  }
  .c_footer .cf_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .c_footer .cf_wrap .cfw_between {
    margin: 3px 0;
  }
  .c_footer .cf_wrap .text_smart {
    margin: 0 10px;
  }
  .c_footer .cf_wrap .twitter {
    margin: 0 10px;
  }
  .c_deposit .cd_border {
    width: 70%;
  }
  .c_deposit .cd_border .text_deposit {
    font-size: 1.2rem;
  }
  .c_deposit .text_hello .text {
    font-size: 10px;
  }
  .c_deposit .text_hello .number {
    font-size: 10px;
  }
  .c_deposit .button_cancel {
    font-size: 12px;
  }
  .c_deposit .button_confirm {
    font-size: 12px;
  }
  .c_warning .cw_border {
    width: 70%;
  }
  .c_warning .cw_border .text_warning {
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=Style.css.map */