* {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #393939;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  background-color: #FFEDF5;
  background-image: url("./img/Group 2994.svg");
  width: 100%;
  height: 100%;
}

.container .c_middle {
  margin: 0 auto;
  width: 56%;
  height: 38%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFFFFF;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .c_middle .cm_tittle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .c_middle .cm_tittle .cmt_text {
  margin-left: 1rem;
}

.container .c_middle .cm_tittle .cmt_text .text_big {
  color: #E03145;
  font-size: 2rem;
  margin-bottom: 0.3rem;
}

.container .c_footer {
  background-color: #393939;
  margin-top: 107px;
  width: 100%;
}

.container .c_footer .cf_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 68.5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 30px 0;
}

.container .c_footer .cf_wrap .text {
  color: #FFFFFF;
  font-size: 16px;
}

.container .c_footer .cf_wrap .cfw_between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .c_footer .cf_wrap .cfw_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 1200px) {
  .c_menu {
    display: none;
  }
  .c_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 16%;
    padding: 1.5% 0;
  }
  .c_header .ch_logo .chl_img {
    width: 73px;
    height: 50px;
  }
  .c_header .ch_toolbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .c_header .ch_toolbar .cht_img {
    width: 13px;
    height: 10px;
    margin-right: 4px;
  }
  .c_header .ch_toolbar .cht_home {
    margin-right: 41px;
    font-size: 16px;
    font-weight: bold;
    color: #393939;
  }
  .c_header .ch_toolbar .cht_faq {
    margin-right: 43px;
    font-size: 16px;
    font-weight: bold;
    color: #393939;
  }
  .c_header .ch_toolbar .cht_trx {
    margin-right: 41px;
    font-size: 16px;
    font-weight: bold;
    color: #393939;
  }
  .c_header .ch_toolbar .cht_nation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .c_header .ch_toolbar .cht_nation .chtn_circle {
    height: 35px;
    width: 35px;
    position: relative;
  }
  .c_header .ch_toolbar .cht_nation .chtn_circle:before {
    content: '';
    position: absolute;
    width: 70%;
    height: calc(0.7 * 35px);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 50%;
    background-image: url(../img/lang/en.png);
    background-size: 160%;
    background-position: center;
  }
  .c_header .ch_toolbar .cht_nation .ensign {
    border-radius: 50%;
    width: 25px;
    height: 25px;
  }
  .c_header .ch_toolbar .cht_nation .arrow {
    width: 11px;
    height: 7px;
  }
  .c_footer .text_smart {
    margin: 0 48px;
  }
  .c_footer .twitter {
    margin: 0 45px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199.5px) {
  .c_menu {
    display: none;
  }
  .c_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 16%;
    padding: 1.5% 0;
  }
  .c_header .ch_logo .chl_img {
    width: 73px;
    height: 50px;
  }
  .c_header .ch_toolbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .c_header .ch_toolbar .cht_img {
    width: 13px;
    height: 10px;
    margin-right: 4px;
  }
  .c_header .ch_toolbar .cht_home {
    margin-right: 41px;
    font-size: 16px;
    font-weight: bold;
    color: #393939;
  }
  .c_header .ch_toolbar .cht_faq {
    margin-right: 43px;
    font-size: 16px;
    font-weight: bold;
    color: #393939;
  }
  .c_header .ch_toolbar .cht_trx {
    margin-right: 41px;
    font-size: 16px;
    font-weight: bold;
    color: #393939;
  }
  .c_header .ch_toolbar .cht_nation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .c_header .ch_toolbar .cht_nation .chtn_circle {
    height: 35px;
    width: 35px;
    position: relative;
  }
  .c_header .ch_toolbar .cht_nation .chtn_circle:before {
    content: '';
    position: absolute;
    width: 70%;
    height: calc(0.7 * 35px);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 50%;
    background-image: url(../img/lang/en.png);
    background-size: 160%;
    background-position: center;
  }
  .c_header .ch_toolbar .cht_nation .ensign {
    border-radius: 50%;
    width: 25px;
    height: 25px;
  }
  .c_header .ch_toolbar .cht_nation .arrow {
    width: 11px;
    height: 7px;
  }
  .c_footer .cfw_between {
    margin: 0 15px;
  }
  .c_footer .cfw_between .text_smart {
    margin: 0 48px;
  }
  .c_footer .twitter {
    margin: 0 45px;
  }
}

@media only screen and (max-width: 767.5px) {
  .c_header {
    display: none;
  }
  .c_menu .img_menu {
    margin: 20px 0 0 20px;
  }
  .c_footer .cf_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .c_footer .cf_wrap .cfw_between {
    margin: 3px 0;
  }
  .c_footer .cf_wrap .text_smart {
    margin: 0 10px;
  }
  .c_footer .cf_wrap .twitter {
    margin: 0 10px;
  }
}
/*# sourceMappingURL=Style.css.map */